/* RESET CSS */
*,
*::before,
*::after {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

/* CSS */
body {
	font-family: "Inter", sans-serif;
}

img {
    display: block;
}
span{
	color: red;
	background-color: yellow;
	padding: 0 1rem
}
a {
	display: inline-block;
	height: 40px;
	width: 100px;
	outline: solid red 1px;
}

#about {
	background-color: greenyellow;
	display: block;

}